html,
body {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  width: 100%;
}

button {
  white-space: nowrap;
}

input[type='reset'],
.cursor-pointer {
  cursor: pointer;
  z-index: 1;
}

input[type='search'],
input[type='url'],
select {
  // background-color: rgb(232, 240, 254);
  background-color: white !important;
  max-height: 2.5rem;
}

form {
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

svg {
  height: 24px;
  width: 24px;
}

.hljs-attr {
  font-weight: bold;
}
