<main class="container">
  <comp-header [peers]="peers"></comp-header>
  <comp-status
    (get_state_root_hash_output)="get_state_root_hash($event)"
  ></comp-status>
  <div class="row flex-column-reverse flex-column-reverse flex-md-row">
    <div
      class="col-12 col-md-6 col-lg-5 my-1 my-md-0 d-flex justify-content-between"
    >
      <comp-action
        (select_action)="selectAction($event)"
        class="w-100"
      ></comp-action>
      <comp-submit-action
        *ngIf="!['sign_deploy'].includes(action)"
        (submit_action)="submitAction($event)"
        [class]="'btn-success ms-1 ms-sm-2 ms-xl-3'"
        [e2e]="'submit'"
        >Go</comp-submit-action
      >
    </div>
    <div
      class="col-12 col-md-6 col-lg-7 my-1 my-md-0 d-flex justify-content-end ps-md-0"
    >
      <comp-public-key class="input-group"></comp-public-key>
      <div class="d-flex justify-content-end ms-1 ms-sm-2 ms-xl-3">
        <comp-secret-key></comp-secret-key>
      </div>
    </div>
  </div>
  <comp-error></comp-error>
  <comp-form [form]="form" (wasm_selected)="onWasmSelected($event)"></comp-form>
  <comp-submit-action
    *ngIf="['sign_deploy'].includes(action)"
    (submit_action)="submitAction($event)"
    [class]="'btn-warning mt-3'"
    [e2e]="'sign'"
    >Sign
  </comp-submit-action>
  <button
    *ngIf="['sign_deploy'].includes(action)"
    type="button"
    class="btn"
    [class]="'btn-warning mt-3 ms-3'"
    (click)="walletSign()"
    [attr.e2e]="'wallet_sign'"
  >
    Casper Wallet Sign
  </button>
  <comp-result></comp-result>
</main>
