<main class="container">
  <img src="assets/logo.png" alt="CasperLabs" />
  <div class="row">
    <div class="col-sm-12">
      <div
        class="alert alert-success d-flex justify-content-between align-items-center"
        *ngIf="state_root_hash"
      >
        <span>state root hash is {{ state_root_hash }}</span>
        <button class="btn me-0" (click)="get_state_root_hash()">
          Refresh
        </button>
      </div>
      <div class="alert alert-warning" *ngIf="account_hash">
        <span>account hash is {{ account_hash }}</span>
      </div>
      <div class="alert alert-warning" *ngIf="main_purse">
        <span>main purse is {{ main_purse }}</span>
      </div>
    </div>
  </div>
  <form class="row align-items-start" (submit)="(false)">
    <div class="col-sm-4">
      <div class="input-group">
        <label class="input-group-text" for="selectActionElt"
          >Choose action</label
        >
        <select
          id="selectActionElt"
          class="form-select form-control form-control-sm"
          (change)="selectAction($event)"
          #selectActionElt
        >
          <option></option>
          <optgroup label="rpc">
            <option
              [value]="sdk_method || ''"
              *ngFor="let sdk_method of sdk_rpc_methods; index as i"
            >
              {{ sdk_method }}
            </option>
          </optgroup>
          <optgroup label="deploy utils">
            <option
              [value]="sdk_method || ''"
              *ngFor="let sdk_method of sdk_deploy_utils_methods; index as i"
            >
              {{ sdk_method }}
            </option>
          </optgroup>
          <optgroup label="deploy">
            <option
              [value]="sdk_method || ''"
              *ngFor="let sdk_method of sdk_deploy_methods; index as i"
            >
              {{ sdk_method }}
            </option>
          </optgroup>
          <optgroup label="contract">
            <option
              [value]="sdk_method || ''"
              *ngFor="let sdk_method of sdk_contract_methods; index as i"
            >
              {{ sdk_method }}
            </option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <label class="input-group-text" id="purseIdentifierElt">
          Public Key</label
        >
        <input
          type="search"
          class="form-control form-control-xs"
          name="public_key"
          [value]="public_key || ''"
          placeholder="e.g. 0x"
          (change)="onPublicKeyChange()"
          id="publicKeyElt"
          #publicKeyElt
        />
      </div>
    </div>
    <div class="col-sm-2">
      <input
        class="visually-hidden"
        name="private_key"
        #privateKeyElt
        type="file"
        id="privateKeyElt"
        (change)="onPemSelected($event)"
        accept=".pem"
      />
      <button
        class="btn btn-secondary"
        (click)="onPrivateKeyClick()"
        *ngIf="!has_private_key"
      >
        Load Private Key
      </button>
      <button
        class="btn btn-light"
        (click)="onPrivateKeyClick()"
        *ngIf="has_private_key"
      >
        Private Key Loaded
      </button>
    </div>
  </form>
  <div class="row mt-3" *ngIf="peers.length">
    <div class="col-xs-12">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let peer of peers; index as i">
            {{ peer | json }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="row mt-3 d-flex align-items-end"
    *ngIf="
      [
        'get_block',
        'get_block_transfers',
        'get_era_info',
        'get_era_summary',
        'get_account',
        'speculative_exec',
        'speculative_deploy',
        'speculative_transfer',
        'query_balance',
        'query_global_state'
      ].includes(action)
    "
  >
    <form class="row align-items-end" (submit)="(false)">
      <div class="col-sm-2 mb-2">
        <label>Block Height </label>
        <div class="form-floating">
          <input
            type="search"
            id="blockIdentifierHeightElt"
            class="form-control form-control-xs"
            name="block_identifier_height"
            [value]="block_identifier_height || ''"
            [placeholder]="block_identifier_height_default"
            #blockIdentifierHeightElt
          />
          <label for="blockIdentifierHeightElt"
            >e.g. {{ block_identifier_height_default }}</label
          >
        </div>
      </div>
      <div class="col-sm-6 mb-2">
        <label>Block Hash </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="block_identifier_hash"
            [value]="block_identifier_hash || ''"
            [placeholder]="block_identifier_hash_default"
            id="blockIdentifierHashElt"
            #blockIdentifierHashElt
          />
          <label for="blockIdentifierHeightElt"
            >e.g. {{ block_identifier_hash_default }}</label
          >
        </div>
      </div>
      <div class="col-sm-12 mb-2">
        <div class="col-sm-7" *ngIf="action === 'get_account'">
          <label>Account identifier</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="account_identifier"
              [value]="account_identifier || ''"
              placeholder="e.g. Public Key, AccountHash, Purse URef"
              id="accountIdentifierElt"
              #accountIdentifierElt
            />
            <label for="accountIdentifierElt"
              >e.g. Public Key, AccountHash, Purse URef</label
            >
          </div>
        </div>
      </div>
    </form>
  </div>
  <div
    class="row mt-3 d-flex align-items-end"
    *ngIf="
      [
        'get_balance',
        'query_balance',
        'query_global_state',
        'query_contract_dict',
        'query_contract_key',
        'get_dictionary_item'
      ].includes(action)
    "
  >
    <form class="row align-items-end" (submit)="(false)">
      <div class="col-sm-7 mb-2">
        <label>State Root Hash </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="state_root_hash"
            [value]="state_root_hash || ''"
            [placeholder]="state_root_hash"
            id="stateRootHashElt"
            #stateRootHashElt
          />
          <label for="stateRootHashElt">e.g. {{ state_root_hash }}</label>
        </div>
      </div>
      <div class="col-sm-7 mb-2" *ngIf="action === 'get_balance'">
        <label
          >Purse Uref
          <!-- <span class="fw-light small"
              >({{ block_identifier_hash_default }})</span
            > -->
        </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="purse_uref"
            [value]="purse_uref || main_purse || ''"
            placeholder="e.g. {{ main_purse || 'uref-0x' }}"
            id="purseUrefElt"
            #purseUrefElt
          />
          <label for="purseUrefElt">e.g. {{ main_purse || 'uref-0x' }}</label>
        </div>
      </div>
      <div class="col-sm-7 mb-2" *ngIf="action === 'query_balance'">
        <label>Purse Identifier </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="purse_identifier"
            [value]="purse_identifier || ''"
            placeholder="e.g. Public Key, AccountHash, Purse URef"
            id="purseIdentifierElt"
            #purseIdentifierElt
          />
          <label for="purseIdentifierElt"
            >e.g. Public Key, AccountHash, Purse URef</label
          >
        </div>
      </div>
    </form>
  </div>
  <div
    class="row mt-3 d-flex align-items-end"
    *ngIf="
      [
        'get_dictionary_item',
        'query_global_state',
        'query_contract_dict',
        'query_contract_key'
      ].includes(action)
    "
  >
    <form class="row align-items-end" (submit)="(false)">
      <div
        class="col-sm-12 mb-3"
        *ngIf="['get_dictionary_item'].includes(action)"
      >
        <div class="row">
          <div class="col-sm-5 mb-2">
            <div class="input-group">
              <label class="input-group-text" for="selectActionElt"
                >Dictionary identifier</label
              >
              <select
                id="selectDictIdentifierElt"
                class="form-select form-control form-control-sm"
                [value]="select_dict_identifier || ''"
                (change)="
                  select_dict_identifier = selectDictIdentifierElt.value
                "
                #selectDictIdentifierElt
              >
                <option
                  value="newFromSeedUref"
                  [selected]="select_dict_identifier === 'newFromSeedUref'"
                >
                  From Seed Uref
                </option>
                <option
                  value="newFromContractInfo"
                  [selected]="select_dict_identifier === 'newFromContractInfo'"
                >
                  From Contract Info
                </option>
                <option
                  value="newFromAccountInfo"
                  [selected]="select_dict_identifier === 'newFromAccountInfo'"
                >
                  From Account Info
                </option>
                <option
                  value="newFromDictionaryKey"
                  [selected]="select_dict_identifier === 'newFromDictionaryKey'"
                >
                  From Dictionary Key
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <ng-container
        *ngIf="['get_dictionary_item', 'query_contract_dict'].includes(action)"
      >
        <div
          class="col-sm-7 mb-2"
          *ngIf="
            !!this.selectDictIdentifierElt &&
            select_dict_identifier === 'newFromSeedUref'
          "
        >
          <label>Seed Uref </label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_uref"
              [value]="seed_uref || ''"
              placeholder="uref-0x"
              id="seedUrefElt"
              #seedUrefElt
            />
            <label for="seedUrefElt">e.g. uref-0x</label>
          </div>
        </div>
        <div
          class="col-sm-7 mb-2"
          *ngIf="
            !!this.selectDictIdentifierElt &&
            select_dict_identifier === 'newFromAccountInfo'
          "
        >
          <label>Account Hash</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_account_hash"
              [value]="seed_account_hash || ''"
              placeholder="account-hash-0x"
              id="seedAccounttHashElt"
              #seedAccounttHashElt
            />
            <label for="seedAccounttHashElt">e.g. account-hash-0x</label>
          </div>
        </div>
        <div
          class="col-sm-7 mb-2"
          *ngIf="
            select_dict_identifier === 'newFromContractInfo' ||
            action === 'query_contract_dict'
          "
        >
          <label>Contract Hash</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_contract_hash"
              [value]="seed_contract_hash || ''"
              placeholder="hash-0x"
              id="seedContractHashElt"
              #seedContractHashElt
            />
            <label for="seedContractHashElt">e.g. hash-0x</label>
          </div>
        </div>
        <div
          class="col-sm-7 mb-2"
          *ngIf="
            !!this.selectDictIdentifierElt &&
            select_dict_identifier === 'newFromDictionaryKey'
          "
        >
          <label>Dictionary Key</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_key"
              [value]="seed_key || ''"
              placeholder="dictionary-0x"
              id="seedKeyElt"
              #seedKeyElt
            />
            <label for="seedKeyElt">e.g. dictionary-0x</label>
          </div>
        </div>
        <div
          class="col-sm-7 mb-2"
          *ngIf="
            ['newFromContractInfo', 'newFromAccountInfo'].includes(
              select_dict_identifier
            ) || action === 'query_contract_dict'
          "
        >
          <label>Dictionary Name</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_name"
              [value]="seed_name || ''"
              placeholder="e.g. events"
              id="seedNameElt"
              #seedNameElt
            />
            <label for="seedNameElt">e.g. events</label>
          </div>
        </div>
        <div class="col-sm-7 mb-2">
          <label>Dictionary Item key </label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="item_key"
              [value]="item_key || ''"
              [placeholder]="item_key"
              id="itemKeyElt"
              #itemKeyElt
            />
            <label for="itemKeyElt">e.g. Item key string</label>
          </div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="['query_global_state', 'query_contract_key'].includes(action)"
      >
        <div class="col-sm-7 mb-2">
          <label>{{
            action === 'query_global_state' ? 'Key' : 'Contract Hash'
          }}</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="query_key"
              [value]="query_key || ''"
              [placeholder]="
                action === 'query_global_state'
                  ? 'e.g. uref-0x || hash-0x || account-hash-0x'
                  : 'e.g. hash-0x'
              "
              id="queryKeyElt"
              #queryKeyElt
            />
            <label for="queryKeyElt">{{
              action === 'query_global_state'
                ? 'e.g. uref-0x || hash-0x || account-hash-0x'
                : 'e.g. hash-0x'
            }}</label>
          </div>
        </div>
        <div class="col-sm-7 mb-2">
          <label>Path</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="query_path"
              [value]="query_path || ''"
              placeholder="e.g. counter/count"
              id="queryPathElt"
              #queryPathElt
            />
            <label for="queryPathElt">e.g. counter/count</label>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <div class="row mt-3 d-flex align-items-end" *ngIf="action === 'get_deploy'">
    <form class="row align-items-end" (submit)="(false)">
      <div class="col-sm-6">
        <label>Deploy Hash </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="deploy_hash"
            [value]="deploy_hash || ''"
            placeholder="e.g. 0x"
            id="deployHashElt"
            #deployHashElt
          />
          <label for="stateRootHashElt">e.g. 0x</label>
        </div>
      </div>
      <div class="col-sm-2">
        <label class="form-label">Finalized approvals</label>
        <div>
          <input
            type="checkbox"
            class="form-check-input mt-0"
            name="finalized_approvals"
            [checked]="finalized_approvals"
            [value]="finalized_approvals || ''"
            [id]="finalizedApprovalsElt"
            #finalizedApprovalsElt
          />
        </div>
      </div>
    </form>
  </div>
  <div
    class="row mt-3 d-flex align-items-end"
    *ngIf="['put_deploy', 'sign_deploy', 'speculative_exec'].includes(action)"
  >
    <form class="row align-items-end" (submit)="(false)">
      <div class="col-sm-2">
        <input
          class="visually-hidden"
          name="deploy_file"
          #deployFileElt
          type="file"
          id="deployFileElt"
          (change)="onDeployFileSelected($event)"
          accept=".json, .txt"
        />
        <button
          class="btn btn-secondary"
          (click)="deployFileClick()"
          *ngIf="!file_name"
        >
          Load deploy file
        </button>
      </div>
      <div class="col-sm-12">
        <div class="form-floating mt-3">
          <textarea
            style="height: 300px; white-space: pre-wrap"
            class="form-control"
            name="deploy_json"
            value="deploy_json"
            [innerHTML]="deploy_json || ''"
            [id]="deployJsonElt"
            #deployJsonElt
          >
          </textarea>
          <label for="deployJsonElt">Deploy as Json string</label>
        </div>
      </div>
    </form>
  </div>
  <div
    class="row mt-3 d-flex align-items-end"
    *ngIf="
      [
        'make_transfer',
        'make_deploy',
        'transfer',
        'deploy',
        'speculative_transfer',
        'speculative_deploy',
        'call_entrypoint',
        'install'
      ].includes(action)
    "
  >
    <form class="row align-items-end" (submit)="(false)">
      <div
        class="col-sm-2"
        *ngIf="
          ['make_transfer', 'transfer', 'speculative_transfer'].includes(action)
        "
      >
        <label class="text-nowrap"
          >Transfer Amount
          <span
            class="fw-light small text-nowrap"
            *ngIf="this.transferAmountElt.value"
            >({{ convert(transferAmountElt) }} CSPR)</span
          ></label
        >
        <div class="form-floating">
          <input
            type="search"
            id="transferAmountElt"
            class="form-control form-control-xs"
            name="transfer_amount"
            [value]="transfer_amount || ''"
            [placeholder]="config['minimum_transfer']"
            (change)="convert(transferAmountElt)"
            #transferAmountElt
          />
          <label for="transferAmountElt"
            >e.g. {{ config['minimum_transfer'] }}</label
          >
        </div>
      </div>
      <div
        class="col-sm-3"
        *ngIf="
          [
            'make_deploy',
            'deploy',
            'speculative_deploy',
            'call_entrypoint',
            'install'
          ].includes(action)
        "
      >
        <label class="text-nowrap"
          >Payment Amount
          <span
            class="fw-light small text-nowrap"
            *ngIf="this.paymentAmountElt.value"
            >({{ convert(paymentAmountElt) }} CSPR)</span
          ></label
        >
        <div class="form-floating">
          <input
            type="search"
            id="paymentAmountElt"
            class="form-control form-control-xs"
            name="payment_amount"
            [value]="payment_amount || ''"
            (change)="convert(paymentAmountElt)"
            #paymentAmountElt
          />
        </div>
      </div>
      <div
        class="col-sm-1"
        *ngIf="
          [
            'make_transfer',
            'make_deploy',
            'transfer',
            'deploy',
            'speculative_transfer',
            'speculative_deploy',
            'install'
          ].includes(action)
        "
      >
        <label>TTL</label>
        <div class="form-floating">
          <input
            type="search"
            id="TTLElt"
            class="form-control form-control-xs"
            name="ttl"
            [value]="ttl || config['TTL']"
            [placeholder]="config['TTL']"
            #TTLElt
          />
          <label for="TTLElt">e.g. {{ config['TTL'] }}</label>
        </div>
      </div>
      <div
        class="col-sm-6"
        *ngIf="
          ['make_transfer', 'transfer', 'speculative_transfer'].includes(action)
        "
      >
        <label>Target Account</label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="target_account"
            [value]="target_account || ''"
            placeholder="e.g. Public Key, AccountHash, Purse URef"
            id="targetAccountElt"
            #targetAccountElt
          />
          <label for="blockIdentifierHeightElt"
            >e.g. Public Key, AccountHash, Purse URef</label
          >
        </div>
      </div>
      <div
        class="col-sm-6"
        *ngIf="
          ['make_deploy', 'deploy', 'install', 'speculative_deploy'].includes(
            action
          )
        "
      >
        <div class="col-sm-2">
          <input
            class="visually-hidden"
            name="wasm"
            #wasmElt
            type="file"
            id="wasmElt"
            (change)="onWasmSelected($event)"
            accept=".wasm"
          />
          <button
            class="btn btn-secondary"
            (click)="onWasmClick()"
            *ngIf="!file_name"
          >
            Wasm Module Bytes
          </button>
          <span
            class="break-all text-nowrap"
            class="btn btn-light"
            (click)="resetWasmClick()"
            *ngIf="file_name"
          >
            {{ file_name }}
            <svg
              class="w-6 h-6 ml-1 cursor-pointer shrink-0"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              ></path>
            </svg>
          </span>
        </div>
      </div>
      <div
        class="row mt-2"
        *ngIf="
          [
            'make_deploy',
            'deploy',
            'speculative_deploy',
            'call_entrypoint',
            'install'
          ].includes(action)
        "
      >
        <ng-container *ngIf="action !== 'install' && !file_name">
          <div class="col-sm-7 mb-2">
            <label>Smart Contract hash or Package hash</label>
            <div class="form-floating">
              <input
                type="search"
                class="form-control form-control-xs"
                name="session_hash"
                [value]="session_hash || ''"
                placeholder="e.g. Contract Hash or Package Hash"
                id="sessionHashElt"
                (change)="(true)"
                [disabled]="!!sessionNameElt.value || file_name"
                #sessionHashElt
              />
              <label for="sessionHashElt"
                >e.g. Contract Hash or Package Hash</label
              >
            </div>
          </div>
          <div class="col-sm-2">
            <label class="form-label">Call Package</label>
            <div>
              <input
                type="checkbox"
                class="form-check-input mt-0"
                name="call_package"
                [checked]="call_package"
                [value]="call_package || ''"
                [id]="callPackageElt"
                [disabled]="file_name"
                #callPackageElt
              />
            </div>
          </div>
          <div class="col-sm-3 mb-2">
            <label>Version</label>
            <div class="form-floating">
              <input
                type="search"
                class="form-control form-control-xs"
                name="version"
                [value]="version || ''"
                placeholder="e.g.1, empty for last version"
                [disabled]="file_name"
                id="versionElt"
                #versionElt
              />
              <label for="versionElt">e.g.1, empty for last version</label>
            </div>
          </div>
          <div class="col-sm-7 mb-2">
            <label>Smart Contract name or Package name</label>
            <div class="form-floating">
              <input
                type="search"
                class="form-control form-control-xs"
                name="session_name"
                [value]="session_name || ''"
                placeholder="e.g. Counter"
                id="sessionNameElt"
                [disabled]="!!sessionHashElt.value || file_name"
                (change)="(true)"
                #sessionNameElt
              />
              <label for="sessionNameElt">e.g. Counter</label>
            </div>
          </div>
          <div class="col-sm-5 mb-2">
            <label>Entry point</label>
            <div class="form-floating">
              <input
                type="search"
                class="form-control form-control-xs"
                name="entry_point"
                [value]="entry_point || ''"
                placeholder="e.g. counter_inc"
                id="entryPointElt"
                [disabled]="file_name"
                #entryPointElt
              />
              <label for="entryPointElt">e.g. counter_inc</label>
            </div>
          </div>
        </ng-container>
        <div class="col-sm-7 mb-2">
          <label>Args</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="args_simple"
              [value]="args_simple || ''"
              placeholder="e.g. joe:bool='true', bob:bool='false'"
              id="argsSimpleElt"
              [disabled]="!!argsJsonElt.value"
              (change)="(true)"
              #argsSimpleElt
            />
            <label for="argsSimpleElt"
              >e.g. joe:bool='true'", "bob:bool='false'</label
            >
          </div>
        </div>
        <div class="col-sm-7 mb-2">
          <label>Args Json</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="args_json"
              [value]="args_json || ''"
              placeholder='e.g. [{ "name": "joe", "type": "U256", "value": 1 }]'
              [disabled]="!!argsSimpleElt.value"
              (change)="(true)"
              #argsJsonElt
            />
            <label for="argsJsonElt"
              >e.g. [&#123; "name": "joe", "type": "U256", "value": 1
              &#125;]</label
            >
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row d-flex mt-4 justify-content-start" *ngIf="action">
    <div class="col-sm-1" *ngIf="!['sign_deploy'].includes(action)">
      <button
        type="button"
        class="btn btn-success"
        (click)="submitAction(action)"
      >
        Submit
      </button>
    </div>
    <div class="col-sm-1" *ngIf="['sign_deploy'].includes(action)">
      <button
        type="button"
        class="btn btn-warning"
        (click)="submitAction(action)"
      >
        Sign
      </button>
    </div>
    <div
      class="col-sm-1"
      *ngIf="
        !['sign_deploy', 'put_deploy', 'speculative_exec'].includes(action)
      "
    >
      <button
        class="btn btn-link"
        type="reset"
        value="clear"
        (click)="cleanDisplay()"
      >
        Clear
      </button>
    </div>
  </div>
  <div class="row mt-3" *ngIf="result && !result_text">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body" style="white-space: pre-wrap">
          {{ result | json }}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="!result && result_text">
    <div class="col-xs-12">
      <div class="card">
        <div
          class="card-body"
          [innerHTML]="result_text"
          style="white-space: pre-wrap"
        ></div>
      </div>
    </div>
  </div>
</main>
