<main class="container">
  <img src="assets/logo.png" alt="CasperLabs" />
  <div class="row">
    <div class="col-sm-12">
      <div
        class="alert alert-success d-flex justify-content-between align-items-center"
        *ngIf="state_root_hash"
      >
        <span>state root hash is {{ state_root_hash }}</span>
        <button class="btn me-0" (click)="get_state_root_hash()">
          Refresh
        </button>
      </div>
      <div class="alert alert-warning" *ngIf="account_hash">
        <span>account hash is {{ account_hash }}</span>
      </div>
      <div class="alert alert-warning" *ngIf="main_purse">
        <span>main purse is {{ main_purse }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="col-sm-4">
        <div class="input-group">
          <label class="input-group-text" for="selectActionElt"
            >Choose action</label
          >
          <select
            id="selectActionElt"
            class="form-select form-control form-control-sm"
            (change)="selectAction($event)"
            #selectActionElt
          >
            <option></option>
            <optgroup label="rpc">
              <option
                [value]="sdk_method"
                *ngFor="let sdk_method of sdk_rpc_methods; index as i"
              >
                {{ sdk_method }}
              </option>
            </optgroup>
            <optgroup label="deploy utils">
              <option
                [value]="sdk_method"
                *ngFor="let sdk_method of sdk_deploy_utils_methods; index as i"
              >
                {{ sdk_method }}
              </option>
            </optgroup>
            <optgroup label="deploy">
              <option
                [value]="sdk_method"
                *ngFor="let sdk_method of sdk_deploy_methods; index as i"
              >
                {{ sdk_method }}
              </option>
            </optgroup>
            <optgroup label="contract">
              <option
                [value]="sdk_method"
                *ngFor="let sdk_method of sdk_contract_methods; index as i"
              >
                {{ sdk_method }}
              </option>
            </optgroup>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="row mt-3" *ngIf="peers.length">
    <div class="col-xs-12">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let peer of peers; index as i">
            {{ peer | json }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="row mt-3 d-flex align-items-end"
    *ngIf="
      [
        'get_block',
        'get_block_transfers',
        'get_era_info',
        'get_era_summary'
      ].includes(action)
    "
  >
    <form class="row align-items-end" (submit)="(false)">
      <div class="col-sm-2">
        <label>Block Height </label>
        <div class="form-floating">
          <input
            type="search"
            id="blockIdentifierHeightElt"
            class="form-control form-control-xs"
            name="block_identifier_height"
            [value]="block_identifier_height"
            [placeholder]="block_identifier_height_default"
            #blockIdentifierHeightElt
          />
          <label for="blockIdentifierHeightElt"
            >ex: {{ block_identifier_height_default }}</label
          >
        </div>
      </div>
      <div class="col-sm-6">
        <label
          >Block Hash
          <!-- <span class="fw-light small"
              >({{ block_identifier_hash_default }})</span
            > -->
        </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="block_identifier_hash"
            [value]="block_identifier_hash"
            [placeholder]="block_identifier_hash_default"
            id="blockIdentifierHashElt"
            #blockIdentifierHashElt
          />
          <label for="blockIdentifierHeightElt"
            >ex: {{ block_identifier_hash_default }}</label
          >
        </div>
      </div>
      <div class="col-sm-3">
        <button
          type="button"
          class="btn btn-success"
          (click)="submitAction(action)"
        >
          Submit
        </button>
      </div>
      <div class="col-sm-1">
        <button
          class="btn btn-link"
          type="reset"
          value="clear"
          (click)="cleanDisplay()"
        >
          Clear
        </button>
      </div>
    </form>
  </div>

  <div
    class="row mt-3 d-flex align-items-end"
    *ngIf="['get_balance', 'query_balance'].includes(action)"
  >
    <form class="row align-items-end" (submit)="(false)">
      <div class="col-sm-7" *ngIf="action === 'get_balance'">
        <label
          >Purse Uref
          <!-- <span class="fw-light small"
              >({{ block_identifier_hash_default }})</span
            > -->
        </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="purse_uref"
            [value]="purse_uref || main_purse"
            [placeholder]="purse_uref || main_purse"
            id="purseUrefElt"
            #purseUrefElt
          />
          <label for="purseUrefElt">ex: {{ purse_uref || main_purse }}</label>
        </div>
      </div>
      <div class="col-sm-7" *ngIf="action === 'query_balance'">
        <label
          >Purse Identifier
          <!-- <span class="fw-light small"
              >({{ block_identifier_hash_default }})</span
            > -->
        </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="purse_identifier"
            [value]="purse_identifier"
            [placeholder]="purse_identifier"
            id="purseIdentifierElt"
            #purseIdentifierElt
          />
          <label for="purseIdentifierElt"
            >ex: Public Key, AccountHash, Purse URef</label
          >
        </div>
      </div>
      <div class="col-sm-7">
        <label>State Root Hash </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="state_root_hash"
            [value]="state_root_hash"
            [placeholder]="state_root_hash"
            id="stateRootHashElt"
            #stateRootHashElt
          />
          <label for="stateRootHashElt">ex: {{ state_root_hash }}</label>
        </div>
      </div>
      <div class="col-sm-3">
        <button
          type="button"
          class="btn btn-success"
          (click)="submitAction(action)"
        >
          Submit
        </button>
      </div>
      <div class="col-sm-1">
        <button
          class="btn btn-link"
          type="reset"
          value="clear"
          (click)="cleanDisplay()"
        >
          Clear
        </button>
      </div>
    </form>
  </div>

  <div
    class="row mt-3 d-flex align-items-end"
    *ngIf="['get_dictionary_item', 'query_global_state'].includes(action)"
  >
    <form class="row align-items-end" (submit)="(false)">
      <div class="col-sm-12 my-3" *ngIf="action === 'get_dictionary_item'">
        <div class="row">
          <div class="col-sm-5">
            <div class="input-group">
              <label class="input-group-text" for="selectActionElt"
                >Dictionary identifier</label
              >
              <select
                id="selectDictIdentifierElt"
                class="form-select form-control form-control-sm"
                [value]="select_dict_identifier"
                (change)="
                  select_dict_identifier = selectDictIdentifierElt.value
                "
                #selectDictIdentifierElt
              >
                <option
                  value="newFromSeedUref"
                  [selected]="select_dict_identifier === 'newFromSeedUref'"
                >
                  From Seed Uref
                </option>
                <option
                  value="newFromContractInfo"
                  [selected]="select_dict_identifier === 'newFromContractInfo'"
                >
                  From Contract Info
                </option>
                <option
                  value="newFromAccountInfo"
                  [selected]="select_dict_identifier === 'newFromAccountInfo'"
                >
                  From Account Info
                </option>
                <option
                  value="newFromDictionaryKey"
                  [selected]="select_dict_identifier === 'newFromDictionaryKey'"
                >
                  From Dictionary Key
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="action === 'get_dictionary_item'">
        <div
          class="col-sm-7"
          *ngIf="select_dict_identifier === 'newFromSeedUref'"
        >
          <label>Seed Uref </label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_uref"
              [value]="seed_uref"
              placeholder="uref-0x"
              id="seedUrefElt"
              #seedUrefElt
            />
            <label for="seedUrefElt">ex: uref-0x</label>
          </div>
        </div>
        <div
          class="col-sm-7"
          *ngIf="select_dict_identifier === 'newFromAccountInfo'"
        >
          <label>Account Hash</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_account_hash"
              [value]="seed_account_hash"
              placeholder="account-hash-0x"
              id="seedAccounttHashElt"
              #seedAccounttHashElt
            />
            <label for="seedAccounttHashElt">ex: account-hash-0x</label>
          </div>
        </div>
        <div
          class="col-sm-7"
          *ngIf="select_dict_identifier === 'newFromContractInfo'"
        >
          <label>Contract Hash</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_contract_hash"
              [value]="seed_contract_hash"
              placeholder="hash-0x"
              id="seedContractHashElt"
              #seedContractHashElt
            />
            <label for="seedContractHashElt">ex: hash-0x</label>
          </div>
        </div>
        <div
          class="col-sm-7"
          *ngIf="select_dict_identifier === 'newFromDictionaryKey'"
        >
          <label>Dictionary Key</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_key"
              [value]="seed_key"
              placeholder="dictionary-0x"
              id="seedKeyElt"
              #seedKeyElt
            />
            <label for="seedKeyElt">ex: dictionary-0x</label>
          </div>
        </div>
        <div
          class="col-sm-7"
          *ngIf="
            ['newFromContractInfo', 'newFromAccountInfo'].includes(
              select_dict_identifier
            )
          "
        >
          <label>Dictionary Name</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="seed_name"
              [value]="seed_name"
              placeholder="ex: events"
              id="seedNameElt"
              #seedNameElt
            />
            <label for="seedNameElt">ex: events</label>
          </div>
        </div>
        <div class="col-sm-7">
          <label>Dictionary Item key </label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="item_key"
              [value]="item_key"
              [placeholder]="item_key"
              id="itemKeyElt"
              #itemKeyElt
            />
            <label for="itemKeyElt">ex: Item key string</label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="action === 'query_global_state'">
        <div
          class="col-sm-7"
          *ngIf="select_dict_identifier === 'newFromSeedUref'"
        >
          <label>Key </label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="query_key"
              [value]="query_key"
              placeholder="ex: uref-0x || hash-0x || account-hash-0x"
              id="queryKeyElt"
              #queryKeyElt
            />
            <label for="queryKeyElt"
              >ex: uref-0x || hash-0x || account-hash-0x</label
            >
          </div>
        </div>
        <div class="col-sm-7">
          <label>Path</label>
          <div class="form-floating">
            <input
              type="search"
              class="form-control form-control-xs"
              name="query_path"
              [value]="query_path"
              placeholder="ex: counter/count"
              id="queryPathElt"
              #queryPathElt
            />
            <label for="queryPathElt">ex: counter/count</label>
          </div>
        </div>
      </ng-container>
      <div class="col-sm-7">
        <label>State Root Hash </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="state_root_hash"
            [value]="state_root_hash"
            [placeholder]="state_root_hash"
            id="stateRootHashElt"
            #stateRootHashElt
          />
          <label for="stateRootHashElt">ex: {{ state_root_hash }}</label>
        </div>
      </div>
      <div class="col-sm-3">
        <button
          type="button"
          class="btn btn-success"
          (click)="submitAction(action)"
        >
          Submit
        </button>
      </div>
      <div class="col-sm-1">
        <button
          class="btn btn-link"
          type="reset"
          value="clear"
          (click)="cleanDisplay()"
        >
          Clear
        </button>
      </div>
    </form>
  </div>

  <div class="row mt-3 d-flex align-items-end" *ngIf="action === 'get_deploy'">
    <form class="row align-items-end" (submit)="(false)">
      <div class="col-sm-6">
        <label>Deploy Hash </label>
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-xs"
            name="deploy_hash"
            [value]="deploy_hash"
            placeholder="ex: 0x"
            id="deployHashElt"
            #deployHashElt
          />
          <label for="stateRootHashElt">ex: 0x</label>
        </div>
      </div>
      <div class="col-sm-2">
        <label class="form-label">Finalized approvals</label>
        <div>
          <input
            type="checkbox"
            class="form-check-input mt-0"
            name="finalized_approvals"
            [checked]="finalized_approvals === true"
            [value]="finalized_approvals"
            [id]="finalizedApprovalsElt"
            #finalizedApprovalsElt
          />
        </div>
      </div>
      <div class="col-sm-3">
        <button
          type="button"
          class="btn btn-success"
          (click)="submitAction(action)"
        >
          Submit
        </button>
      </div>
      <div class="col-sm-1">
        <button
          class="btn btn-link"
          type="reset"
          value="clear"
          (click)="cleanDisplay()"
        >
          Clear
        </button>
      </div>
    </form>
  </div>

  <div class="row mt-3" *ngIf="result">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          {{ result | json }}
        </div>
      </div>
    </div>
  </div>
</main>
